In [2]:
import pandas as pd
import numpy as np

import plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
import matplotlib
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("ETFs+MFs.csv", index_col = 0) 
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning:

Columns (99,102) have mixed types. Specify dtype option on import or set low_memory=False.

,fund_name,fund_extended_name,category,fund_family,net_assets,ytd_return,fund_yield,legal_type,investment,size,...,fund_sharpe_ratio_5years,category_sharpe_ratio_5years,fund_sharpe_ratio_10years,category_sharpe_ratio_10years,fund_treynor_ratio_3years,category_treynor_ratio_3years,fund_treynor_ratio_5years,category_treynor_ratio_5years,fund_treynor_ratio_10years,category_treynor_ratio_10years
0,1305,Daiwa ETF TOPIX,NaN,Daiwa Asset Management Co Ltd,4.010000e+12,NaN,1.84,Exchange Traded Fund,Blend,Large,...,0.59,NaN,0.60,NaN,3.92,NaN,8.01,NaN,9.29,NaN
1,1306,Nomura TOPIX ETF,NaN,Nomura Asset Management Co Ltd,8.430000e+12,NaN,1.77,Exchange Traded Fund,Blend,Large,...,0.59,NaN,0.61,NaN,3.94,NaN,8.03,NaN,9.33,NaN
2,1308,Nikko Exchange Traded Index TOPIX,NaN,Nikko Asset Management Co Ltd,3.730000e+12,NaN,1.84,Exchange Traded Fund,Blend,Large,...,0.59,NaN,0.60,NaN,3.93,NaN,8.03,NaN,9.31,NaN
3,1309,Nomura SSE50 Index Link ETF,NaN,Nomura Asset Management Co Ltd,4.450000e+09,NaN,0.00,Exchange Traded Fund,Value,Large,...,0.36,NaN,0.26,NaN,-4.41,NaN,6.32,NaN,4.29,NaN
4,1310,Daiwa ETF TOPIX Core 30,NaN,Daiwa Asset Management Co Ltd,1.920000e+09,NaN,2.57,Exchange Traded Fund,Blend,Large,...,0.34,NaN,0.44,NaN,1,NaN,4.08,NaN,6.18,NaN

In [4]:
min_col = df.columns.get_loc('basic_materials')
max_col = df.columns.get_loc('technology')

In [5]:
df['max_sector'] = df.iloc[:, min_col:max_col+1].idxmax(axis=1)
print(df['max_sector'])

0        industrials
1        industrials
2        industrials
3        industrials
4         technology
            ...
25303    industrials
25304     technology
25305     technology
25306     technology
25307     technology
Name: max_sector, Length: 27660, dtype: object

In [29]:
sectors = df['max_sector'].unique()
sizes = df['size'].unique()

sectors = sectors[~pd.isnull(sectors)]
sizes = sizes[~pd.isnull(sizes)]

In [30]:
m = []

for sector in sectors:
    s = []
    for size in sizes:
        s.append(len(df.loc[ (df['max_sector'] == sector) & (df['size'] == size)  ]))
    m.append(s)

In [31]:
print (m)

[[407, 543, 483], [6376, 1120, 489], [479, 373, 206], [5021, 668, 631], [1113, 2807, 1152], [290, 215, 250], [388, 512, 58], [619, 122, 146], [404, 17, 27], [57, 10, 5], [233, 71, 67]]

In [34]:
fig = go.Figure(data=go.Heatmap(z=m))

WARNING: Some output was deleted.

In [0]:
fig.show()